# -*- coding: utf-8 -*-

import typing as T

{%- for klass in klass_list %}
from .{{ klass.module_name }} import {{ klass.class_name }}
{%- endfor %}

T_DFOP = T.Union[
    {%- for klass in klass_list %}
    {{ klass.class_name }},
    {%- endfor %}
]

